.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
}
/* .preview img {
  width: 100%;
  height: 100%;
} */
.preview p {
  width: 100vw;
  text-align: center;
}