body {
  --primary-color: #1976d2;
}


@font-face {
  font-family: 'iconfont';  /* Project id 2853316 */
  src: url('//at.alicdn.com/t/font_2853316_0jfwk0mtb525.woff2?t=1633686347215') format('woff2'),
       url('//at.alicdn.com/t/font_2853316_0jfwk0mtb525.woff?t=1633686347215') format('woff'),
       url('//at.alicdn.com/t/font_2853316_0jfwk0mtb525.ttf?t=1633686347215') format('truetype');
}